<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-3">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img height="350px" src="https://64.media.tumblr.com/5b7f2a3438ce4b53081ebc080405a20d/344bbdac235b86b8-1e/s640x960/e1edb0a8b6df2a888618c54726ba8bbd81f104c5.jpg" class="d-block w-100" alt="...">
              </div>
               </div>
          </div>  
</div>
</div>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" >ADMINISTRATOR LOGIN</a>
                      
      </div>
    </nav>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-10">
          <form #adminlogin="ngForm" (ngSubmit)="Alogin()">
              <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <br>
                  <label for="" class="form label">USERNAME</label>
                  <input type="text" class="form-control" [(ngModel)]="data1.adminname" name="adminname">
                  <label for="" class="form label">PASSWORD</label>
                  <input type="password" id="" class="form-control" [(ngModel)]="data1.adminpassword" name="adminpassword"><br>
                  <button class="btn btn-primary">SIGN IN</button>
              </div>
          </form>
      </div>
  </div>
  </div>
</div>