
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-10">
          <form #userlogin="ngForm" (ngSubmit)="Ulogin()" >
              <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <br>
                  <label for="" class="form label">USERNAME</label>
                  <input type="text" class="form-control" [(ngModel)]="data.name" name="name">
                  <label for="" class="form label">PASSWORD</label>
                  <input type="password" id="" class="form-control" [(ngModel)]="data.password" name="password"><br>
                  <button  class="btn btn-primary">SIGN IN</button>
              </div>
          </form>
      </div>
  </div>
 