<div class="container">
    <div class="row">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row g-3">
 <h2>UPLOAD REQUEST</h2>
 
 <form #sendreport="ngForm" (ngSubmit)="Request()">    
    
    <label for="" class="form-label">Name:</label>
    <input type="text" class="form-control" [(ngModel)]="data1.requestname" name="requestname">
    <label for="" class="form-label">Voterid:</label>
    <input type="text" class="form-control" [(ngModel)]="data1.vid" name="vid"><br>
    <label for="" class="form-label">Select Facility:</label>
    <select name="" id="" class="form-control" [(ngModel)]="data1.facilitytype" name="facilitytype">
      <option value="Electricity">Electricity</option>
      <option value="Water">Water</option>
      <option value="Health">Health</option>
    </select>
    <br>
    <label for="" class="form-label">Request:</label><br>
    <textarea class="form-control" [(ngModel)]="data1.userequest" name="userequest"></textarea>
    
  <br>
  <button class="btn btn-warning">UPLOAD</button>
 </form>
 </div>
 </div>
 </div>
 </div>